.Droughtcode_2561      { stroke:none; fill: rgb(102,255,178) }
.Droughtcode_2561_3341      { stroke:none; fill: rgb(210,255,102) }
.Droughtcode_3341_4506     { stroke:none; fill: rgb(204,102,0) }
.Droughtcode_4506_7494     { stroke:none; fill: rgb(153,0,0) }
.Droughtcode_7494     { stroke:none; fill: rgb(51,25,0) }
