.Duffmoisturecode_157      { stroke:none; fill: rgb(102,255,178) }
.Duffmoisturecode_157_279      { stroke:none; fill: rgb(210,255,102) }
.Duffmoisturecode_279_531     { stroke:none; fill: rgb(204,102,0) }
.Duffmoisturecode_531_1407     { stroke:none; fill: rgb(153,0,0) }
.Duffmoisturecode_1407     { stroke:none; fill: rgb(51,25,0) }
