.Finefuelmoisture_827      { stroke:none; fill: rgb(102,255,178) }
.Finefuelmoisture_827_861      { stroke:none; fill: rgb(210,255,102) }
.Finefuelmoisture_861_892     { stroke:none; fill: rgb(204,102,0) }
.Finefuelmoisture_892_930     { stroke:none; fill: rgb(153,0,0) }
.Finefuelmoisture_930     { stroke:none; fill: rgb(51,25,0) }
