.Fireweatherindex_52      { stroke:none; fill: rgb(153,255,255) }
.Fireweatherindex_52_111       { stroke:none; fill: rgb(102,255,178) }
.Fireweatherindex_111_213      { stroke:none; fill: rgb(210,255,102) }
.Fireweatherindex_213_380     { stroke:none; fill: rgb(255,153,51) }
.Fireweatherindex_380_500     { stroke:none; fill: rgb(204,102,0) }
.Fireweatherindex_500_700     { stroke:none; fill: rgb(153,0,0) }
.Fireweatherindex_700     { stroke:none; fill: rgb(51,25,0)  }
