.Firedailyseverity_75      { stroke:none; fill: rgb(102,255,178) }
.Firedailyseverity_75_85      { stroke:none; fill: rgb(210,255,102) }
.Firedailyseverity_85_90     { stroke:none; fill: rgb(204,102,0) }
.Firedailyseverity_90_95     { stroke:none; fill: rgb(255,0,0)  }
.Firedailyseverity_95_98     { stroke:none; fill: rgb(153,0,0) }
.Firedailyseverity_98_100     { stroke:none; fill: rgb(51,25,0)  }
