.Firedanger_0_11      { stroke:none; fill: rgb(102,255,178) }
.Firedanger_12_24      { stroke:none; fill: rgb(210,255,102) }
.Firedanger_25_49     { stroke:none; fill: rgb(204,102,0) }
.Firedanger_50_74     { stroke:none; fill: rgb(255,0,0)  }
.Firedanger_75_99     { stroke:none; fill: rgb(153,0,0) }
.Firedanger_100     { stroke:none; fill: rgb(51,25,0)  }
