.Firebuildup_242      { stroke:none; fill: rgb(102,255,178) }
.Firebuildup_242_407      { stroke:none; fill: rgb(210,255,102) }
.Firebuildup_407_733     { stroke:none; fill: rgb(204,102,0) }
.Firebuildup_733_1781     { stroke:none; fill: rgb(153,0,0) }
.Firebuildup_1781     { stroke:none; fill: rgb(51,25,0) }
