.Vegetationtype_3      { stroke:none; fill: rgb(173,255,47) }
.Vegetationtype_4       { stroke:none; fill: rgb(0,255,0) }
.Vegetationtype_5      { stroke:none; fill: rgb(34,139,34) }
.Vegetationtype_6     { stroke:none; fill: rgb(0,100,0) }
.Vegetationtype_18     { stroke:none; fill: rgb(0,255,255) }
.Vegetationtype_19     { stroke:none; fill: rgb(184,134,11) }
