.Icecover_0      { stroke:none; fill: rgb(0,102,204) }
.Icecover_0_02       { stroke:none; fill: rgb(0,128,255) }
.Icecover_02_04      { stroke:none; fill: rgb(51,153,255) }
.Icecover_04_06     { stroke:none; fill: rgb(102,178,255) }
.Icecover_06_08     { stroke:none; fill: rgb(153,204,255) }
.Icecover_08_1     { stroke:none; fill: rgb(204,229,255) }
.Icecover_1     { stroke:none; fill: rgb(255,255,255) }
