.Initialfirespread_32      { stroke:none; fill: rgb(102,255,178) }
.Initialfirespread_32_50      { stroke:none; fill: rgb(210,255,102) }
.Initialfirespread_50_75     { stroke:none; fill: rgb(204,102,0) }
.Initialfirespread_75_134     { stroke:none; fill: rgb(153,0,0) }
.Initialfirespread_134     { stroke:none; fill: rgb(51,25,0)  }
