.Keetchbyramdrought_0_25      { stroke:none; fill: rgb(102,255,178) }
.Keetchbyramdrought_25_50      { stroke:none; fill: rgb(210,255,102) }
.Keetchbyramdrought_50_100     { stroke:none; fill: rgb(204,102,0) }
.Keetchbyramdrought_100_150     { stroke:none; fill: rgb(255,0,0)  }
.Keetchbyramdrought_150_175     { stroke:none; fill: rgb(153,0,0) }
.Keetchbyramdrought_175_200     { stroke:none; fill: rgb(51,25,0)  }
