.Latentheatflux_inf_0       { stroke:none; fill: rgb(255,255,102) }
.Latentheatflux_0_10       { stroke:none; fill: rgb(255,204,153) }
.Latentheatflux_10_20       { stroke:none; fill: rgb(255,178,102) }
.Latentheatflux_20_30       { stroke:none; fill: rgb(255,153,51) }
.Latentheatflux_30_40       { stroke:none; fill: rgb(255,128,0) }
.Latentheatflux_40_50       { stroke:none; fill: rgb(204,102,0) }
.Latentheatflux_50_60       { stroke:none; fill: rgb(255,51,51) }
.Latentheatflux_60_70       { stroke:none; fill: rgb(255,0,0) }
.Latentheatflux_70_80       { stroke:none; fill: rgb(240,0,0) }
.Latentheatflux_80_inf       { stroke:none; fill: rgb(153,0,0) }
