.Vegetationtype_1      { stroke:none; fill: rgb(139,69,19) }
.Vegetationtype_2       { stroke:none; fill: rgb(0,255,0) }
.Vegetationtype_7      { stroke:none; fill: rgb(173,255,47) }
.Vegetationtype_9     { stroke:none; fill: rgb(47,79,79) }
.Vegetationtype_10     { stroke:none; fill: rgb(0,255,255) }
.Vegetationtype_11     { stroke:none; fill: rgb(255,228,181) }
.Vegetationtype_13     { stroke:none; fill: rgb(0,0,255) }
.Vegetationtype_16     { stroke:none; fill: rgb(85,107,47) }
.Vegetationtype_17    { stroke:none; fill: rgb(184,134,11) }
.Vegetationtype_20    { stroke:none; fill: rgb(135,206,235) }



