.Ozone_100_125       { stroke:none; fill: rgb(0,0,01) }
.Ozone_125_150       { stroke:none; fill: rgb(0,0,153) }
.Ozone_150_175       { stroke:none; fill: rgb(0,0,255) }
.Ozone_175_200       { stroke:none; fill: rgb(0,128,255) }
.Ozone_200_220       { stroke:none; fill: rgb(102,178,255) }
.Ozone_220_240       { stroke:none; fill: rgb(0,255,255) }
.Ozone_240_260       { stroke:none; fill: rgb(102,255,178) }
.Ozone_260_280       { stroke:none; fill: rgb(128,255,0) }
.Ozone_280_300       { stroke:none; fill: rgb(204,255,153) }
.Ozone_300_320       { stroke:none; fill: rgb(255,255,0) }
.Ozone_320_340       { stroke:none; fill: rgb(255,215,0) }
.Ozone_340_360       { stroke:none; fill: rgb(245,180,0) }
.Ozone_360_380       { stroke:none; fill: rgb(255,153,51) }
.Ozone_380_400       { stroke:none; fill: rgb(255,102,79) }
.Ozone_400_425       { stroke:none; fill: rgb(255,0,0) }
.Ozone_425_450       { stroke:none; fill: rgb(153,0,0) }
.Ozone_450_475       { stroke:none; fill: rgb(102,0,0) }
.Ozone_475_500       { stroke:none; fill: rgb(51,25,0) }
