.Radiation_inf_10       { stroke:none; fill: rgb(0,51,0) }
.Radiation_10_20       { stroke:none; fill: rgb(0,102,0) }
.Radiation_20_30       { stroke:none; fill: rgb(0,153,0) }
.Radiation_30_40       { stroke:none; fill: rgb(0,204,0) }
.Radiation_40_50       { stroke:none; fill: rgb(0,255,0) }
.Radiation_50_60     { stroke:none; fill: rgb(0,255,128) }
.Radiation_60_80     { stroke:none; fill: rgb(102,255,102) }
.Radiation_80_100       { stroke:none; fill: rgb(153,255,153) }
.Radiation_100_125       { stroke:none; fill: rgb(255,255,204) }
.Radiation_125_150       { stroke:none; fill: rgb(255,255,153) }
.Radiation_150_175       { stroke:none; fill: rgb(255,255,102) }
.Radiation_175_200     { stroke:none; fill: rgb(255,255,51) }
.Radiation_200_225     { stroke:none; fill: rgb(255,178,102) }
.Radiation_225_250       { stroke:none; fill: rgb(255,153,51) }
.Radiation_250_275       { stroke:none; fill: rgb(255,128,0) }
.Radiation_275_300       { stroke:none; fill: rgb(204,102,0) }
.Radiation_300_350       { stroke:none; fill: rgb(255,51,51) }
.Radiation_350_400     { stroke:none; fill: rgb(255,0,0) }
.Radiation_400_500     { stroke:none; fill: rgb(204,0,0) }
.Radiation_500_inf     { stroke:none; fill: rgb(153,0,0) }
