.Snowfallaccumulation_0_10       { stroke:none; fill: rgb(204,229,255) }
.Snowfallaccumulation_10_20       { stroke:none; fill: rgb(135,206,250) }
.Snowfallaccumulation_20_50       { stroke:none; fill: rgb(51,168,255) }
.Snowfallaccumulation_50_100       { stroke:none; fill: rgb(0,103,190) }
.Snowfallaccumulation_100_150       { stroke:none; fill: rgb(0,103,140) }
.Snowfallaccumulation_150_200     { stroke:none; fill: rgb(240,116,0) }
.Snowfallaccumulation_200_inf     { stroke:none; fill: rgb(232,39,120) }
