.Soiltype_1      { stroke:none; fill: rgb(255,228,181) }
.Soiltype_2       { stroke:none; fill: rgb(139,69,19) }
.Soiltype_3      { stroke:none; fill: rgb(50,205,50) }
.Soiltype_4     { stroke:none; fill: rgb(85,107,47) }
.Soiltype_5     { stroke:none; fill: rgb(0,255,255) }
.Soiltype_6     { stroke:none; fill: rgb(0,0,01) }
.Soiltype_7     { stroke:none; fill: rgb(0,0,255) }
