.Surfacestress_inf_1       { stroke:none; fill: rgb(0,76,153) }
.Surfacestress_1_08       { stroke:none; fill: rgb(51,153,255) }
.Surfacestress_08_06       { stroke:none; fill: rgb(102,255,255) }
.Surfacestress_06_04       { stroke:none; fill: rgb(102,255,178) }
.Surfacestress_04_02       { stroke:none; fill: rgb(178,255,102) }
.Surfacestress_02_0       { stroke:none; fill: rgb(255,255,153) }
.Surfacestress_0_02       { stroke:none; fill: rgb(255,255,102) }
.Surfacestress_02_04       { stroke:none; fill: rgb(255,178,102) }
.Surfacestress_04_06       { stroke:none; fill: rgb(255,128,0) }
.Surfacestress_06_08       { stroke:none; fill: rgb(255,51,51) }
.Surfacestress_08_1       { stroke:none; fill: rgb(255,0,0) }
.Surfacestress_1_inf       { stroke:none; fill: rgb(204,0,0) }
