.Total_column_5_10       { stroke:none; fill: rgb(102,178,255) }
.Total_column_10_15       { stroke:none; fill: rgb(100,149,237) }
.Total_column_15_20       { stroke:none; fill: rgb(30,144,255) }
.Total_column_20_25       { stroke:none; fill: rgb(0,128,255) }
.Total_column_25_30       { stroke:none; fill: rgb(0,0,255) }
.Total_column_30_35       { stroke:none; fill: rgb(255,228,225) }
.Total_column_35_40       { stroke:none; fill: rgb(255,192,203) }
.Total_column_40_45       { stroke:none; fill: rgb(240,128,128) }
.Total_column_45_50       { stroke:none; fill: rgb(255,91,71) }
.Total_column_50_55       { stroke:none; fill: rgb(220,20,60) }
.Total_column_55_60       { stroke:none; fill: rgb(178,34,34) }
.Total_column_60_65       { stroke:none; fill: rgb(153,0,0) }
.Total_column_65_70       { stroke:none; fill: rgb(128,0,0) }
.Total_column_70_100       { stroke:none; fill: rgb(51,0,0) }
.Total_column_100_150       { stroke:none; fill: rgb(0,0,0) }
