.Totalcolumnsnowwater_0_2       { stroke:none; fill: rgb(204,255,229) }
.Totalcolumnsnowwater_2_3       { stroke:none; fill: rgb(153,255,204) }
.Totalcolumnsnowwater_3_4       { stroke:none; fill: rgb(0,204,102) }
.Totalcolumnsnowwater_4_5       { stroke:none; fill: rgb(0,153,76) }
.Totalcolumnsnowwater_5_6       { stroke:none; fill: rgb(102,178,255) }
.Totalcolumnsnowwater_6_7       { stroke:none; fill: rgb(51,153,255) }
.Totalcolumnsnowwater_7_8       { stroke:none; fill: rgb(0,128,255) }
.Totalcolumnsnowwater_8_9       { stroke:none; fill: rgb(0,102,204) }
.Totalcolumnsnowwater_9_10       { stroke:none; fill: rgb(0,76,153) }
.Totalcolumnsnowwater_10_12       { stroke:none; fill: rgb(255,255,153) }
.Totalcolumnsnowwater_12_14       { stroke:none; fill: rgb(255,235,176) }
.Totalcolumnsnowwater_14_16       { stroke:none; fill: rgb(250,205,150) }
.Totalcolumnsnowwater_16_18       { stroke:none; fill: rgb(255,178,102) }
.Totalcolumnsnowwater_18_20       { stroke:none; fill: rgb(255,153,51) }
.Totalcolumnsnowwater_20_25       { stroke:none; fill: rgb(255,128,0) }
.Totalcolumnsnowwater_25_30       { stroke:none; fill: rgb(255,51,51) }
.Totalcolumnsnowwater_30_35       { stroke:none; fill: rgb(255,0,0) }
.Totalcolumnsnowwater_35_40       { stroke:none; fill: rgb(204,0,0) }
.Totalcolumnsnowwater_40_inf       { stroke:none; fill: rgb(153,0,0) }
